<h1>List of cryptocurrencies available</h1>

<ul>
  <% @symbols.each do |key, value| %>
    <li>
      <a href="/<%= key %>">
        Convert 1 <%= key %> to USD...
      </a>
      
    </li>
  <% end %>
</ul>